{{> nav}}

<div id="project-desc">

<h1>{{proj.title}}</h1>
<img src="../{{proj.dir}}/screenshot.png" alt="{{proj.dir}}_screenshot">
<p>{{proj.description}}</p>
<button id="project-launch" name="go"><a href="../../{{proj.dir}}">Launch</a>
</button>
</div>
